*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #B6DBE1;
    width: 100%;
    content: '';
    display: flex;
}

.logo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.separador1{
    padding: 50px;
    
}

.pedido{
    font-family: Century;
    color: aliceblue;
    background-color: #c54786;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    

}
h1{
    color: aliceblue;
}
.fondo1{
    padding: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-family: century gothic;
}

.fondo2{
    padding: 30px;
    margin: 10px;
    font-family: century gothic;
    display: flex;
    justify-content: center;
}

.caja1{
    border-radius: 30px;
    background-color: #c54786;
    display: flex;
    justify-content: center;
    width: 560px;
    height: 500px;
    box-shadow: #47c5b0 1px 1px 20px 2px;
    flex-flow: column;
    padding-left: 60px;
    
}

.tablaform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: auto;
}



.caja2{
    border-radius: 30px;
    background-color: #47c5b0;
    width: 560px;
    height: 500px;
    box-shadow: #c54786 1px 1px 20px 2px;
    padding: 60px;
}

.bold{
    font-weight: bold;
    color: aliceblue;
    justify-content: center;
}

